.app-header {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;

  gap: 17px;

  &__logo {
    width: 49px;
    height: 49px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #5936ef;
  }

  &__text {
    display: flex;
    flex-direction: column;

    line-height: 1;
  }

  &__title {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: -0.8px;

    color: #111a40;
  }

  &__subtitle {
    margin-top: 5px;

    font-size: 27px;
    font-weight: 700;

    color: #5936ef;
  }
}
